<html>
<body >



<form action="http://127.0.0.1:8081/books/create" method="POST">
  


  Book name:
  <input type="text" name="bookname"><br><br>
  ISBN:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <input type="text" name="isbn"><br><br>
  Title:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <input type="text" name="title"><br><br>
  Author:&nbsp&nbsp&nbsp&nbsp&nbsp
  <input type="text" name="author"><br><br>
  publisher:
  <input type="text" name="publisher"><br><br>
  number_of_pages:
  <input type="text" name="numberofpages"><br><br>

  
  <input type="submit" name="submit" value="submit"><br><br>

</form>



</body>
</html>